body{
background-color: #333;
}
img {
	max-width:100%;
}
.quitar-float{
	float: none;
}
.pacifico{
	font-family: 'Pacifico', cursive;
	}

#section1{
padding-top:100px;
margin-left: 50px;
margin-right: 50px;
min-width: 500px;
}
.seccion1{
	background-image: url("upfeathers.png");	
	height: 630px;
	min-height: 600px;
	min-width: 400px;
	margin: 0;
	padding: 0;
}
#section2{
padding-top:50px;
height: 900px;
background-image: url("fondo4.jpg");
min-width: 500px;
}

#section3{
margin-left: 40px;
margin-right: 40px;
padding-top:50px;
height: 700px;
min-width: 400px;
background-image: url("slider53.jpg");

background-repeat: no-repeat;
}
#footer{
	padding-top:30px; padding-left:20%; padding-right: 20%; padding-bottom: 50px; 
	height:500px; 
	min-height: 530px; 
	width:100%; min-width: 300px;
	background-image: url("dark_wood.png");
	background-repeat: repeat;
}
#section1, #section2, #section3, #footer{	
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 20px(0,0,0,0.4);
	-moz-box-shadow: 0 0 20px(0,0,0,0.4);
	position:relative;
	}
.retraso-1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay:1s;

}
.retraso-2{
	animation-delay:2s;
	-webkit-animation-delay:2s;
	-moz-animation-delay:2;
}
.retraso-3{
	animation-delay:3s;
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
}
.retraso-4{
	animation-delay:4s;
	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
}
.retraso-5{
	animation-delay:5s;
	-webkit-animation-delay:5s;
	-moz-animation-delay:5s;
}
.slateg{
	color:slategray;
}
.blanco{
	color:white;
}
.strech{
  margin-left: 250px;
  margin-right: 250px;
}
.caja1, .caja2, .caja3{
margin-top:7px;
padding-top: 5px;
padding-bottom: 5px;
border-color: white;
font-style: italic;
letter-spacing: 2px;
}

.caja1{
width
border: 3px;
border-style: dashed;
}
.caja2{
border: 5px;
border-style: outset;
}
.caja3{
border: 1px;
border-style: ridge;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

 @import url(https://fonts.googleapis.com/css?family=Jura);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jura', sans-serif;
}



body .wrapper .skills {
  width: 700px;
  margin: 0 auto;
}
body .wrapper .skills .contents {
  width: 600px;
  height: 60px;
  margin: 10px auto;
  clear: both;
}
body .wrapper .skills .contents .title {
  width: 180px;
  margin-left: 50px;
  line-height: 60px;
  float: left;
}
body .wrapper .skills .contents .meter {
  width: 200px;
  padding-top: 15px;
  margin-right: 60px;
  float: right;
  position: relative;
}
body .wrapper .skills .contents .meter .block {
  display: inline-block;
  position: absolute;
}
body .wrapper .skills .contents .meter .lv1 {
  width: 30px;
  height: 20px;
  background-color: #74CC4B;
  bottom: -30px;
  left: 0px;
  transform: skew(-40deg);
}
body .wrapper .skills .contents .meter .lv2 {
  width: 30px;
  height: 20px;
  background-color: #74CC4B;
  bottom: -30px;
  left: 32px;
  transform: skew(-40deg);
}
body .wrapper .skills .contents .meter .lv3 {
  width: 30px;
  height: 23px;
  background-color: #E05928;
  bottom: -30px;
  left: 66px;
  transform: skew(-40deg);
}
body .wrapper .skills .contents .meter .lv4 {
  width: 30px;
  height: 26px;
  background-color: #E05928;
  bottom: -30px;
  left: 100px;
  transform: skew(-40deg);
}
body .wrapper .skills .contents .meter .lv5 {
  width: 30px;
  height: 30px;
  background-color: #d6270b;
  bottom: -30px;
  left: 135px;
  transform: skew(-40deg);
}